= form_for([@site, @document]) do |f|
  - if @document.errors.any?
    #error_explanation
      %h2= pluralize(@document.errors.count, "error") |
      prohibited this document from being saved:

      %ul
      - @document.errors.full_messages.each do |msg|
        %li= msg
  .area_container
    .field
      = f.label :content 
      = f.text_area :content , :cols => 90, :rows => 40, :value => @document.value
    .tips
      %h3 Always consider the following:
      %ul
        %li The combination of the Type/Layer/City at the top must be unique
        %li The Type/Layer/City values are case sensitive. Please keep to your own conventions
        %li Any sentences you dont want split (think title tags), add an * to the end of ? ! . as you need to.
        %li For asterisks you actually need in the copy that follow ? ! ., simply double it up. (.**)
        %li Can easily convert lines of text to a bullet list by selecting and clicking the button below.
  .actions
    = f.submit
    
  
%p
  %input{ :id => 'listify', :value => 'Listify Text', :type => 'button'  }