%p#notice= notice

.view
  %p
    %b Content:
    %pre= content_with_notes(@document)
    = add_notes_to_page(@document)

= link_to 'Edit', edit_site_document_path(@site, @document) 
|
= link_to 'Back', sites_path(@site)