:javascript
  window['version-id'] = "#{@version.id}";
%p#notice= notice

.view
  %p 
    Version: 
    %br
    %select#select-version
      - @document.versions.each_with_index do |v, i|
        - if v.id == @version.id
          %option{ value: "#{v.id}", selected: "selected" }= i + 1
        - else
          %option{ value: "#{v.id}" }= i + 1
        
  %p
    %b Content:
    %pre= content_with_notes(@version)

= link_to 'Edit', edit_site_document_path(@site, @document) 
|
= link_to 'Back', site_path(@site)