%p#notice= notice

%h1= @site.name

%p
  %b Url:
  = @site.url
  
- if @site.element_types.size > 0
  %p= link_to 'View Element Types', site_element_types_path(@site)
  %p= link_to 'Export CSV', export_csv_path(@site, format: :csv)

%p
  =button_to "Add Document", new_site_document_path(@site), method: :get, id: 'add_document'
  
%ul
  - @site.documents.each do |doc|
    %li
      = link_to "Destroy", site_document_path(@site, doc), confirm: 'Are you sure?', method: :delete
      = link_to doc.name, edit_site_document_path(@site, doc.id)
      
%h3 Compile/Export
%p 
  If you wish to re-compile and export the documents, click "Compile and Export Documents".
%p
  If you wish to just compile them for now, click "Compile Documents"
      
.bottom-content
  .left
    =form_for(@site, url: compile_documents_path(@site, format: :csv), html: { method: :post }) do |f|
      %p= f.submit "Compile and Export Documents", id: 'compile_documents'
        
  .right
    =form_for(@site, url: compile_documents_path(@site), html: { method: :post }) do |f|
      %p= f.submit "Compile Documents", id: 'compile_documents'

= link_to 'Edit', edit_site_path(@site)
= link_to 'Back', sites_path
