%p#notice= notice
- if flash[:error]
  %p#error= flash[:error]

%h1= @site.name

%p
  %b Url:
  = @site.url
  
- if @site.element_types.size > 0
  %p
    = link_to 'View Element Types', site_element_types_path(@site)
    = link_to 'Search/Replace', new_site_search_and_replace_path(@site)


- if @site.documents.size > 0
  %h3 Documents:

  %table
    %tr
      %th Edit
      %th Mark for change
      %th Create new version
      %th Delete
    - @site.documents_by_name.each do |k, doc|
      %tr
      %td= link_to doc.name, edit_site_document_path(@site, doc.id)
      %td= link_to 'Edit for changes', [@site, doc]
      %td= link_to 'Create new version', document_versions_path(doc.id), method: :post
      %td= link_to "Delete", site_document_path(@site, doc), confirm: 'Are you sure?', method: :delete
      
%p
  =button_to "Add Document", new_site_document_path(@site), method: :get, id: 'add_document'

- if @site.documents.size > 0
  %p Run "Compile Documents" when you wish to input the content into PAGETorrent.
      
  =form_for(@site, :url => compile_documents_path(@site), :html => { :method => :post }) do |f|
    %p= f.submit "Compile Documents", :id => 'compile_documents'
    
- if @site.element_types.size > 0
  %h3 Export
  
  =form_for(@site, url: site_path(@site, format: :csv), html: { method: :get }) do |f|
    %p
      = label_tag :parent_structure, "Export with parent types?"
      = check_box_tag :parent_structure
    %p= f.submit "Export", id: 'export_csv'
      
        
  %h4 Tokens to replace:
  = render :partial => 'hash', :locals => { :hash => @site.tokens }
    
  %h4 Active Tokens:
  = render :partial => 'hash', :locals => { :hash => @site.active_tokens }

= link_to 'Edit', edit_site_path(@site)
= link_to 'Back', sites_path
