%p#notice= notice

%h1= @site.name

%p
  %b Url:
  = @site.url
  
- if @site.element_types.size > 0
  %p
    = link_to 'View Element Types', site_element_types_path(@site)
    = link_to 'Export CSV', export_csv_path(@site, format: :csv)
    = link_to 'Search/Replace', new_site_search_and_replace_path(@site)


- if @site.documents.size > 0
  %h3 Documents:

  %table
    %tr
      %th View/Edit
      %th
    - @site.documents.each do |doc|
      %tr
      %td= link_to doc.name, edit_site_document_path(@site, doc.id)
      %td= link_to "Destroy", site_document_path(@site, doc), confirm: 'Are you sure?', method: :delete
      
%p
  =button_to "Add Document", new_site_document_path(@site), method: :get, id: 'add_document'

- if @site.documents.size > 0
  %h3 Compile/Export:
  %p 
    If you wish to re-compile and export the documents, click "Compile and Export Documents".
  %p
    If you wish to just compile them for now, click "Compile Documents"
      
  .bottom-content
    .left
      =form_for(@site, url: compile_documents_path(@site, format: :csv), html: { method: :post }) do |f|
        %p
          = label_tag :parent_strucutre, "Export with parent types?"
          = check_box_tag :parent_structure
          = f.submit "Compile and Export Documents", id: 'compile_documents'
        
    .right
      =form_for(@site, url: compile_documents_path(@site), html: { method: :post }) do |f|
        %p= f.submit "Compile Documents", id: 'compile_documents'
        
  %h4 Tokens to replace:
  = render partial: 'hash', locals: { hash: @site.tokens }
    
  %h4 Active Tokens:
  = render partial: 'hash', locals: { hash: @site.active_tokens }

= link_to 'Edit', edit_site_path(@site)
= link_to 'Back', sites_path
