!!! 5

%html{ :lang => "en" }
  %head
    %title CopyProcess
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :head
    
  %body
    .container
      %p{:class => "logo"}= link_to image_tag('ics.jpg', alt: 'intelligent content separator'), root_path
      = yield